<!-- プロフィール画面 -->
<div class="row">
  <aside class="col-md-4">
      <h1 class="h3 m-3 font-weight-normal">プロフィール画面</h1>
    <section class="user_info mx-2">
    <p><%= "私の名前は#{@user.name}です。" %></p>
    <p><%= "メールアドレスは#{@user.email}です。" %></p>
    </section>
  </aside>
</div>
