<!-- トップ -->
<div id="top" class="jumbotron p-3 p-md-5 text-dark rounded bg-white">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-weight-bold">トップページ</h1>
    <p class="lead my-2">このページは今まで投稿した記事の一覧です。</br>下の「<b>＋</b>」ボタンを押すと、記事を投稿するページに移動します。</p>
  </div>
  <%= link_to "+", new_board_path, class: "pos btn .btn-{themecolor}.rounded-pill btn-outline-secondary w-100 mt-5" %>
</div>
<!-- 投稿一覧 -->
<div class="py-5 bg-light">
  <div class="container-fluid">
      <div class="row">
        <% @boards.each do |board| %>
        <div class="col-6">
          <img class="card-img-top rounded" src="https://source.unsplash.com/random/150*150" alt="Card image cap" width="auto" height="300">
            <div class="card-body d-flex flex-column align-items-start bg-white">
              <h3 class="mb-0">
                <%= link_to board.title, board, class: "text-dark" %>
              </h3>
              <small class="mb-1 text-muted float-right"><%= board.created_at.strftime('%Y年%m月%d日') %></small>
              <div class="mb-2 text-primary">タグ表示</div>
            </div>
        </div>
        <% end %>
      </div>
  </div>
</div>
<%= paginate @boards %>
