<div class="d-flex align-items-center mt-4 mb-4">
    <div class="ml-auto posts_button">
        <%= link_to "投稿一覧", boards_path, class: "btn btn-sm btn-outline-secondary" %>
        <%= link_to "編集", "#", class: "btn btn-sm btn-outline-secondary" %>
    </div>
</div>

<div class="card">
  <div class="card-header bg-info text-white">
      <h4><%= @board.title %></h4>
  </div>
  <div class="card-body">
      <p class="card-text"><%= @board.body %></p>
  </div>
</div>
