// Place all the styles related to the memo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 全体のCSS
.html {
  // font-family: 'Sawarabi Gothic', sans-serif;
  font-family: 'Kosugi Maru', sans-serif;
}

.body {
  color: #22291e;
}

// ロゴ
.blog-header-logo {
  position: fixed;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
  width: 87px;
  height: 87px;
  line-height: 87px;
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #fefffe;
  background: #C1D8AC;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.blog-header-logo:hover {
  background: #a0af92;
  text-decoration: none;
  color: #fefffe;
}
.blog-header-logo:hover + .websiteFrame {
  background: #a0af92;
}

//ロゴのjqueryで適用
.is-animation {
  font-size: 19px;
  height: 68px;
  top: 1%;
  width: 100%;
}

// 新規投稿画面へのリンクボタン [+]
.pos{
  display: inline-block;
  text-decoration: none;
  background-color: #fefffe;
  color: #C1D8AC;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border: solid 3px #a0af92;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  font-size: 2em
}
.pos:hover {
    background: #a0af92;
    text-decoration: none;
    color: #fefffe;
}

// 投稿ボタンの説明
.tasu {
  background-color: #C1D8AC;
  color: #fefffe;
}

// body部分
.bdy {
  width: 100%;
  max-width: 90%;
  padding: 25px;
  margin: auto;
}


// フレーム
.websiteFrame {
  position: fixed;
  z-index: 990;
  background-color: #C1D8AC;
}

#websiteFrameTop {
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

#websiteFrameLeft {
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px;
}

#websiteFrameRight {
  top: 0;
  bottom: 0;
  right: 0;
  width: 10px;
}

#websiteFrameBottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

// エラーフォーム
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
